# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [7]:
num1 = -5
num2 = -5

num3 = 256
num4 = 256

num5 = 257
num6 = 257

print(id(num1), id(num2))
print(id(num3), id(num4))
print(id(num5), id(num6))

135321606237616 135321606239408
135321823043792 135321823043792
135321606239312 135321606240592

Змінні з цілочисельними значеннями на проміжку [-5,256] мають однакове id, тобто посилаються на один об'єкт в пам'яті. За межами цього проміжку це не працює.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [9]:
maybe_bool = True
print(isinstance(maybe_bool,bool))
print(isinstance(maybe_bool,int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [10]:
a = 5
b = 3.1415
print(
    a + b,
    a - b,
    a * b,
    a / b,
    a // b,
    a % b,
    a ** b
)

8.1415 1.8584999999999998 15.707500000000001 1.5915963711602736 1.0 1.8584999999999998 156.9691362945114

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [13]:
print(int(a), int(b))
my_bool = False
print(int(my_bool))

5 3
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [14]:
s1 = ""
s2 = str()

print(s1 == s2)

True

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [17]:
s = 'I\'m string'
print(s)
s = r'I\'m string'
print(s)

I'm string
I\'m string

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [18]:
surname = "Vasyliev"
s = f"My  surname is {surname}"
print(s)

My  surname is Vasyliev

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [23]:
input_s = "My dog is crazy"
out = list(input_s.split())
out

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [26]:
l = [5, 8, -4, 'a']
l2 = list(('s1', 'cat', 'meow', 100))
print(l, l2)
print(len(l2))

[5, 8, -4, 'a'] ['s1', 'cat', 'meow', 100]
4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [28]:
l1 = list((1, 3, 5, 7))
l2 = list((2, 4, 6))
l1.append(l2)
print(l1)

[1, 3, 5, 7, [2, 4, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [29]:
matrix = [
    [5, 7, 9],
    [2, 4, 6],
    [77, 1111, 1515]
]

print(matrix[-1][0])

77

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [33]:
l = [False, True, 3, 'IV', 5j + 0, '6', 7.5, 'oo', 6, 'A']
print(l[2:len(l)-2])

[3, 'IV', 5j, '6', 7.5, 'oo']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [36]:
tup = (1,)
tup

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Кортеж і список однаково є впорядкованими наборами елементів, кожен елемент має індекс від 0. Головною відмінністю кортежу є те, що це immutable type і є незмінним після створення, можна лише перевизначити, тоді створиться новий об'єкт.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [38]:
tup = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
reversed_part = tup[-1:0:-2]
print(reversed_part)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [39]:
new_set = set()
print(id(new_set))
new_set.add(1)
new_set.add(3)
new_set.add(5)
print(id(new_set))

135320553333120
135320553333120

Множини є змінним мутабельним типом

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [40]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Суть множин у тому, що вони зберігають набір унікальних елементів, дуплікати просто не додаються.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [41]:
s1 = {2, 4, 6, 8, 10, 12}
s2 = {4, 8, 12, 16, 20, 24}
print(
    s1.union(s2),
    s1.difference(s2),
    s1.intersection(s2),
    s1.symmetric_difference(s2)
)

{2, 4, 6, 8, 10, 12, 16, 20, 24} {2, 10, 6} {8, 4, 12} {2, 6, 10, 16, 20, 24}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [43]:
new_dict = {}
new_dict.update({'a':1})
new_dict.update({True:2})
new_dict[404] = 3
new_dict[3.14] = 5

Ключами можуть бути лише значення немутабельних типів. Це пов'язано з хешуванням. Списку не може відповідати постійний унікальний ідентифікатор.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [45]:
multidict = {
    'key':'simple value',
    'dict_key':{
        1:'simple value of dictionary inside dictionary',
        2:{
            21:"value in dictionary inside dictionary inside dictionary",
            22:"cat"
        }
    }
}
print(multidict['dict_key'][2][22])

cat

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.